body
{
     background: url(../images/descarga.jpg)  no-repeat fixed center center;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    background-size: cover; 
    font: 14px/21px Georgia 120%, sans-serif;
    color:#333;
}
head{

    
    border-radius: 5px;
    padding: 0px, 5px;
    border-top: 7px solid #cdcdcd;
    border-bottom: 7px solid  #cdcdcd;
    text-align: center;
    
    

}
button{

    align: center;
    border-color: white;
    padding: 0.09em, 0.09em;
    background-color: #AEB404;
}

}

ul
{
	list-style: none;
}
