body {background: url(../images/jasc.jpg)  no-repeat fixed center center;
      -webkit-background-size:cover;
      -moz-background-size:cover;
      -o-background-size:cover;
      background-size: cover; 
      font: 14px/21px Georgia 120%, sans-serif;
      }

.cuadro{
	
    width:1890px;
    overflow:auto;
    background: linear -gradient(
     yellow,
     red

    ) 

}

ul
{
    text-align: center;
    color:  #0000ff;
}

 
 #m1 {

 	width: 400px;
 	height: 240px;
 	padding: 1px 3px; 
    border: aqua blue 7px solid; 
    border-radius: 15px; 
 	
 	
 }


 #m2 {

 	width: 400px;
 	height: 240px;
 	padding: 1px 3px; 
    border: aqua blue 7px solid; 
    border-radius: 15px; 
 	
 }

 #m3 {

 	width: 400px;
 	height: 240px;
 	padding: 1px 3px; 
    border: aqua blue 7px solid; 
    border-radius: 15px; 
 	
 }


#content {
     background: -webkit-gradient(linear, left top, left bottom, from(#819FF7), to(#819FF7));
    background: -moz-linear-gradient(top,  #819FF7,  #819FF7);
    background: linear-gradient(-90deg, #819FF7, #819FF7);
    margin: 30px 0 30px;
    padding: 35px 35px;
    width: 870px;
    float: left;

    /* rounded corner */
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    /* box shadow */
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,.4);
    -moz-box-shadow: 0 1px 3px rgba(0,0,0,.4);
    box-shadow: 0 1px 3px rgba(0,0,0,.4);
}

 #header {
    position: relative;
    height: 160px;
}
#pagewrap {
    width: 980px;
    margin: 0 auto;
}
#main-nav {
    width: 100%;
    background: #ccc;
    margin: 0;
    padding: 0;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 100;
    /* gradient */    
    background: -webkit-gradient(linear, left top, left bottom, from(#B355F2), to(#7F55F2));
    background: -moz-linear-gradient(top,  #B355F2,  #7F55F2);
    background: linear-gradient(-90deg, #B355F2, #7F55F2);
    /* rounded corner */
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    /* box shadow */
    -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.3), 0 1px 1px rgba(0,0,0,.4);
    -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.3), 0 1px 1px rgba(0,0,0,.4);
    box-shadow: inset 0 1px 0 rgba(255,255,255,.3), 0 1px 1px rgba(0,0,0,.4);
}

#main-nav li {
    margin: 0;
    padding: 0;
    list-style: none;
    float: left;
    position: relative;
}

#main-nav li:first-child {
    margin-left: 10px;
}

#main-nav a {
    line-height: 100%;
    font-weight: bold;
    color: blue;
    display: block;
    padding: 14px 21px;
    text-decoration: none;
    text-shadow: 0 -1px 0 rgba(0,0,0,.5);
}

#main-nav a:hover {
    color: #9900ff;
    background: #474747;
    /* gradient */
    background: -webkit-gradient(linear, left top, left bottom, from(#cdcdcd), to(#797979));
    background: -moz-linear-gradient(top,  #cdcdcd,  #797979);
    background: linear-gradient(-90deg, #cdcdcd, #797979);
 
}
h2.post-title {
    background: #888;
    border-radius: 5px;
    padding: 0px, 5px;
    border-top: 7px solid #cdcdcd;
    border-bottom: 7px solid  #cdcdcd;
    text-align: center;
    background: -webkit-gradient(linear, left top, left bottom, from(#86B404), to(#86B404));
    background: -moz-linear-gradient(top,  #86B404,  #86B404);
    background: linear-gradient(-90deg, #86B404, #86B404);
    

}

h2.post-title a {
    color: purple;
    font-size: 1em;
    text-shadow: 1px 1px 2px green;
    padding: 


}

