body
{
    background: url(../images/numeros.jpg)  no-repeat fixed center center;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
    background-size: cover; 
    font: 14px/21px Georgia 120%, sans-serif;
    color:#8A084B;
}

header, section
{
	border-style: ridge;
	border-radius: 3px 30px 3px 30px;
	padding: 5px 10px 2px 10px;ff
	width: 75%;
	margin: 5px 10px 5px 150px;
	color:#8A084B;
}
header
{
	text-align: center;
	color:#8A084B;
}
ul
{
	list-style: none;
	color:#8A084B;
}
li
{
	padding: 3px;
	color:#8A084B;
}