body {background-image:url(../images/po.jpg);
      background-repeat: no-repeat-fixed-center #333;
      background-size: cover;
      font: 15px/25px "Forte", sans-serif;
      }

.cuadro{
	
    width:1890px;
    overflow:auto;

}

ul
{
    text-align: center;
    color: green;
}

#content {
    background: -webkit-gradient(linear, left top, left bottom, from(#9878F0), to(#F0787C));
    background: -moz-linear-gradient(top,  #9878F0,  #F0787C);
    background: linear-gradient(-90deg, #9878F0, #F0787C);
    margin: 50px 0 50px;
    padding:50px 50px;
    width: 870px;
    float: center;

    /* rounded corner */
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    /* box shadow */
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,.4);
    -moz-box-shadow: 0 1px 3px rgba(0,0,0,.4);
    box-shadow: 0 1px 3px rgba(0,0,0,.4);
}       
#pagewrap {
    width: 980px;
    margin: 0 auto;
}
h2.post-title {
    background: #888;
    border-radius: 5px;
    padding: 0px, 5px;
    border-top: 7px solid #cdcdcd;
    border-bottom: 7px solid  #cdcdcd;
    text-align: center;
    background: -webkit-gradient(linear, left top, left bottom, from(#7F7777), to(#C48181));
    background: -moz-linear-gradient(top,  #7F7777,  #C48181);
    background: linear-gradient(-90deg, #7F7777, #C48181);
    

}

h2.post-title a {
    color: purple;
    font-size: 1em;
    text-shadow: 1px 1px 2px green;
    padding: 


}
