body {background-image:url(../images/images.jpg);
      background-repeat: no-repeat-fixed-center black;
      background-size: cover;
      font: 15px/25px "Forte", sans-serif;
      }

.cuadro{
	
    width:1780px;
    overflow:auto;

}     


#content {
    background: -webkit-gradient(linear, left top, left bottom, from(#D8D8D8), to(#D8D8D8));
    background: -moz-linear-gradient(top  #D8D8D8);
    background: linear-gradient(-90deg, #D8D8D8);
    margin: 50px 0 50px;
    padding:50px 50px;
    width: 670px;
    float: center;
    text-align: center;
    /* rounded corner */
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
   
    /* box shadow */
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,.4);
    -moz-box-shadow: 0 1px 3px rgba(0,0,0,.4);
    box-shadow: 0 1px 3px rgba(0,0,0,.4);
}       
 
#pagewrap {
    width: 680px;
    margin: 50px,  50px, 50px, 50px;
}
h2.post-title {
    background: #888;
    
    padding: 0px, 5px;
    
    
    

}

h2.post-title a {
    
    font-size: 0.09em;
    text-shadow: 4px 4px 3px green;
    padding: 
    background: -webkit-gradient(, left top, left bottom, from(#0B2161), to(#0B2161));
    background: -moz-linear-gradient(top, #0B2161);
    background: linear-gradient(-90deg,  #0B2161);


}

